p {
  border: 1px solid powderblue;
  padding: 30px;
  align-items: center;
}
body {
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Mukta Malar', sans-serif;
  background: #f8f8f8;
}
button{
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Mukta Malar', sans-serif;
  background: #f8f8f8;
}
